.iconToPush {
  background-image: linear-gradient( #3b3b3b 1%, #1b1b1b 90%);
  border-radius: 50%;
  padding: .6rem;
  box-sizing: border-box;
  border: 1px solid #1F1F1F;
  box-shadow: 0 1px 3px 0px #0f0f0f17, inset 0 1px #ffffff42; 
}
.iconPush {
  background-image: linear-gradient( #0a0a0a, #191919);
  box-sizing: border-box;
  border: 1px solid #1F1F1F;
  border-radius: 50%;
  padding: .6rem;
  box-shadow: inset 0 1px 2px #0f0f0f17, 0 1px 1px #ffffff42
}
.IconSearch{
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 24px;
  background-image: linear-gradient( #0a0a0a, #191919);
  box-sizing: border-box;
  border: 1px solid #1F1F1F;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: inset 0 1px 2px #0f0f0f17, 0 1px 1px #ffffff42
}