.sectionSearch{
  position: absolute;
  right: 24px;
  top: 24px;
  height: 60px;
  width: 60px;
  max-width: 360px;
  border-radius: 30px;
  border: 1px solid #1F1F1F;
  background-image: linear-gradient( #0a0a0a, #191919);
  box-shadow: inset 0 1px 2px #0f0f0f17, 0 1px 1px #ffffff42;
}
.searchFull{
  animation: sectionFull .3s linear both;
}
.inputFull{
  animation: inputFull .3s linear both;
}
@keyframes sectionFull{
  0%{width: 60px}
  100%{
    width: calc(100% - 48px);
  }
}
@keyframes inputFull{
  0%{width: 0}
  1%{
    width: 100%; 
    padding: 1rem;
    padding-left: 1.8rem;
    padding-right: 3rem;}
  100%{
    width: 100%; 
    padding: 1rem;
    padding-left: 1.8rem;
    padding-right: 3rem;}
}

.inputSearch{
  border: none;
  background: transparent;
  border-radius: 30px;
  position: absolute;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
  outline: none;
  width: 0px;
  height: 100%;
}
.cardTodayHighlight{
  display: flex;
  gap: .5rem;
  flex-direction: column;
}
.weatherTodayHighlight{
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cardToday{
  display: flex;
  padding: 1.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  background-image: radial-gradient( #233239, #23262b);
  border: none;
  height: auto;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  & p{
    font-size: 1rem;

  }
  & .descriptions{
    font-size: .7rem;
  }
}
.cardWind{
  grid-column: 1/2;
  grid-row: 1/3;
  
}
.cardUV{
  grid-column: 2/3;
  grid-row: 1/3;
}

.cardPressure{
  grid-column: 3/4;
  grid-row: 1/3;
}
.cardFeelsLike{
  & .temp{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 4rem;
    & p{
      text-align: justify;
      line-height: 1;
      font-size: 2rem;
      & sup{
        line-height: .2;
        font-size: 1.4rem;
      }
    }
  }
  & .statics{
    margin-top: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
.cardVisivility{
  & .visibility{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 4rem;
    & p{
      text-align: justify;
      line-height: 1;
      font-size: 2rem;
      & sup{
        line-height: .2;
        font-size: 1.4rem;
      }
    }
  }
  & .statics{
    margin-top: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}