@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

article{
  overflow: hidden;
  display: flex;
  background-image: linear-gradient(#1D1E20, #233239);
  border: 1px solid #ffffff1e;
  height: calc(50vh - 2.25rem);
  width: 100%;
  border-radius: 1rem;
  font-family: 'Rubik', sans-serif;
  position: relative;
  padding: 24px;
  box-sizing: border-box;
  & h2{
    align-self: baseline;
    font-family: "Oswald", sans-serif;
    line-height: 1;
    padding: .4rem;
    padding-top: .2rem;
    padding-bottom: .3rem;
    font-size: 2rem;
    margin: 0;
    background-color: #FCFDFF;
    color: #1f2124;
    border-radius: .2rem;
  }
  & p{
    font-size: min(12rem, 5vw);
    font-family: "Outfit", sans-serif;
    line-height: 1;
    margin: 0;
    & sup{
      line-height: 1;
      margin: 0;
      font-size: 5rem;
    }
  }
  & .weather{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  & .city-name{
    font-size: 2rem;
    display: inline-block;
  }
}
.articleFull{
  height: calc(100dvh - 3rem);
  background-image:radial-gradient( #233239, #1D1E20);
}